---
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/atoms/Tags.astro';
import Authors from '../atoms/Authors.astro';
import SocialShare from '~/components/atoms/SocialShare.astro';
import { getPermalink } from '~/utils/permalinks';

import { getFormattedDate } from '~/utils/utils';

const { post, url } = Astro.props;
---

<section class="py-8 mx-auto sm:py-16 lg:py-20">
	<article>
		<header class={post.image ? 'text-center' : ''}>
			<h4
				class="mb-2 text-base font-medium uppercase leading-snug tracking-wider sm:text-lg text-primary-600 dark:text-secondary-400"
			>
				<a
					href={getPermalink(post.category, 'category')}
				>
					{post.category}
				</a>
			</h4>
			<h1
				class="max-w-4xl px-4 mx-auto mb-2 text-4xl font-medium tracking-wide text-neutral-900 sm:px-6 md:text-5xl font-heading dark:text-neutral-50"
			>
				{post.title}
			</h1>
			<Authors authors={post.authors} class="text-lg my-2"/>
			<p
				class="max-w-4xl px-4 mx-auto mb-1 text-lg font-medium tracking-wide sm:px-6 text-neutral-500 dark:text-neutral-600"
			>
				<time datetime={post.publishDate}>{getFormattedDate(post.publishDate)}</time> • {Math.ceil(post.readingTime)} min
				read
			</p>
			
			<p
				class="max-w-4xl px-4 mx-auto text-lg font-normal tracking-wide sm:px-6 md:text-xl text-neutral-700 dark:text-neutral-400"
			>
				{post.description}
			</p>
			{
				post.image ? (
					<Picture
						src={post.image}
						class="max-w-full mx-auto mt-4 mb-6 md:max-w-4xl bg-neutral-400 dark:bg-neutral-700"
						widths={[400, 900]}
						sizes="(max-width: 900px) 400px, 900px"
						alt={post.description}
						loading="eager"
						aspectRatio={16 / 9}
						width={900}
						height={506}
					/>
				) : (
					<div class="max-w-4xl px-4 mx-auto sm:px-6">
						<div class="border-t dark:border-neutral-700" />
					</div>
				)
			}
		</header>
		<div
			class="container max-w-4xl px-6 mx-auto mt-8 tracking-wide prose prose-lg sm:px-6 prose-neutral lg:prose-xl dark:prose-invert prose-headings:text-neutral-900 dark:prose-headings:text-neutral-50 prose-md prose-quoteless prose-headings:font-heading prose-headings:font-medium prose-a:text-primary-600 dark:prose-a:text-secondary-400 prose-img:rounded-md"
		>
			{post.Content ? <post.Content /> : <Fragment set:html={post.body} />}
		</div>
		<div class="container flex flex-col justify-between max-w-4xl px-6 mx-auto mt-8 sm:px-6 sm:flex-row">
			<PostTags tags={post.tags} class="mr-5" />
			<SocialShare
				url={url}
				text={post.title}
				class="w-full px-0 mt-5 tracking-wide text-right align-middle sm:mt-1 text-neutral-600 dark:text-neutral-400"
			/>
		</div>
	</article>
</section>
